.btn-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  border-radius: 50%;
  border: 1px solid #A9844B;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn-circle--everything {
  width: 190px;
  height: 190px;
  background-color: #A9844B;
  color: #ffffff;
  font-size: 18px;
  line-height: 100%;
}

.btn-circle--everything svg {
  fill: #ffffff;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

.btn-circle--everything:hover {
  background-color: #8B6B39;
}

.btn-circle--bureau {
  width: 190px;
  height: 190px;
  background-color: #ffffff;
  color: #383B41;
  font-size: 34px;
}

.btn-circle--bureau:hover {
  background-color: #A9844B;
  color: #ffffff;
}

.btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 317px;
  height: 60px;
  padding: 5px 30px;
  background-color: #A9844B;
  color: #ffffff;
  border-radius: 40px;
  border: 1px solid #A9844B;
  font-weight: 700;
  font-size: 20px;
  line-height: 53px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-order:hover {
  background-color: #ffffff;
  color: #A9844B;
  border-radius: 40px;
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 251px;
  height: 60px;
  padding: 5px 30px;
  background-color: #A9844B;
  color: #ffffff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 53px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 114px;
  height: 46px;
}

.slider-arrows button {
  position: static;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #A9844B;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.slider-arrows button::after {
  display: none;
}

.slider-arrows button:first-child {
  margin-right: 20px;
}

.slider-arrows button svg {
  stroke: #A9844B;
  -webkit-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.slider-arrows button:hover,
.slider-arrows button:active {
  background-color: #A9844B;
}

.slider-arrows button:hover svg,
.slider-arrows button:active svg {
  stroke: #ffffff;
}

.arrow-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  width: 190px;
  height: 190px;
  margin: 0;
  border-radius: 50%;
  border: none;
  background-color: rgba(169, 132, 75, 0.3);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.arrow-next::after {
  display: none;
}

.arrow-next svg {
  stroke: #ffffff;
  -webkit-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.arrow-next:hover,
.arrow-next:active {
  background-color: rgb(169, 132, 75);
}

@media (max-width: 1440px) {
  .btn-circle--bureau {
    font-size: 30px;
  }
}

@media screen and (max-width: 1440px) {
  .btn-more {
    min-width: 237px;
    height: 57px;
  }
}

@media (max-width: 992px) {
  .btn-circle--everything {
    gap: 10px;
    width: 103px;
    height: 103px;
    font-size: 12px;
    line-height: 130%;
  }
}

@media screen and (max-width: 992px) {
  .btn-circle--everything svg {
    width: 32px;
  }

  .btn-order {
    min-width: 259px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: none;
  }

  .btn-more {
    min-width: 133px;
    height: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: unset;
  }

  .slider-arrows {
    width: 90px;
  }

  .slider-arrows button {
    width: 37px;
    height: 37px;
  }

  .slider-arrows button:first-child {
    margin-right: 16px;
  }

  .slider-arrows button svg {
    width: 16px;
    height: auto;
  }

  .arrow-next {
    width: 116px;
    height: 116px;
  }

  .arrow-next svg {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .btn-circle--bureau {
    width: 100px;
    height: 100px;
    font-size: 18px;
    line-height: 130%;
  }
}

@media screen and (max-width: 768px) {
  .btn-order {
    min-width: unset;
    height: auto;
    padding: 0.88em 2.07em;
    font-size: calc(14px + 4 * (100vw - 540px) / 228);
  }
}

@media (max-width: 540px) {
  .btn-circle--bureau {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
}

@media screen and (max-width: 540px) {
  .btn-order {
    width: 100%;
    height: 36px;
    padding: 11px 38px;
    font-weight: 500;
    font-size: 14px;
  }

  .slider-arrows {
    width: 56px;
  }

  .slider-arrows button {
    width: 26px;
    height: 26px;
  }

  .slider-arrows button:first-child {
    margin-right: 4px;
  }

  .slider-arrows button svg {
    width: 11px;
  }

  .arrow-next {
    width: 67px;
    height: 67px;
  }

  .arrow-next svg {
    width: 28px;
  }
}