.contact-form {
  padding: 48px 0 34px;
}

.contact-form__title {
  margin-bottom: 68px;
  padding-top: 14px;
  border-top: 1px solid #d7e1e9;
}

.form-contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 22px 1fr 22px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  row-gap: 25px;
}

.form-contacts > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.form-contacts > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.form-contacts > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.form-contacts input,
.form-contacts textarea {
  font-family: NotoSans;
  padding: 21px 40px;
  border: 1px solid #A9844B;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #383B41;
}

.form-contacts input::-webkit-input-placeholder,
.form-contacts textarea::-webkit-input-placeholder {
  color: #A5ADBB;
}

.form-contacts input:-moz-placeholder,
.form-contacts textarea:-moz-placeholder {
  color: #A5ADBB;
}

.form-contacts input::-moz-placeholder,
.form-contacts textarea::-moz-placeholder {
  color: #A5ADBB;
}

.form-contacts input:-ms-input-placeholder,
.form-contacts textarea:-ms-input-placeholder {
  color: #A5ADBB;
}

.form-contacts .form-contacts__submit {
  color: #ffffff;
}

.form-contacts textarea {
  padding-bottom: 45px;
}

.form-contacts__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.form-contacts__phone {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.form-contacts__email {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.form-contacts__submit {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: #A9844B;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-contacts__submit:hover,
.form-contacts__submit:active {
  background-color: #ffffff;
  color: #A9844B;
}

.form-contacts__file-desc {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.form-contacts__file-desc input {
  display: none;
}

.form-contacts__file-desc textarea {
  width: 100%;
  height: 100%;
  min-height: 164px;
  resize: none;
}

.form-contacts__file {
  position: absolute;
  right: 35px;
  bottom: 15px;
  cursor: pointer;
}

.form-contacts__file span {
  position: relative;
  display: block;
  padding: 10px 20px 10px 10px;
  font-size: 12px;
  line-height: 100%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C8C8C8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-contacts__file span:hover {
  color: #383B41;
}

.form-contacts__file span::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  right: -3px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url(../img/file.svg) no-repeat center/contain;
}

.form-contacts__policy {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -16px;
  font-size: 12px;
  line-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C8C8C8;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.form-contacts__policy:hover {
  color: #383B41;
}

@media screen and (max-width: 1440px) {
  .contact-form {
    padding: 34px 0 33px;
  }

  .contact-form__title {
    margin-bottom: 43px;
  }

  .form-contacts {
    -ms-grid-columns: minmax(-webkit-min-content, 1fr) 30px minmax(-webkit-min-content, 1fr);
    -ms-grid-columns: minmax(min-content, 1fr) 30px minmax(min-content, 1fr);
    grid-template-columns: repeat(2, minmax(-webkit-min-content, 1fr));
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 18px;
  }

  .form-contacts__phone {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .form-contacts__email {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .form-contacts__submit {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .form-contacts__file-desc {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .form-contacts__policy {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-top: -4px;
  }
}

@media screen and (max-width: 992px) {
  .contact-form {
    padding: 30px 0;
  }

  .contact-form__title {
    margin-bottom: 40px;
  }

  .form-contacts input,
  .form-contacts textarea {
    padding: 15px 27px;
    font-size: 14px;
    line-height: 140%;
  }

  .form-contacts textarea {
    border-radius: 30px;
  }

  .form-contacts__name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .form-contacts__phone {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .form-contacts__email {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .form-contacts__submit {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .form-contacts__file-desc {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .form-contacts__file {
    right: 30px;
    bottom: 10px;
  }

  .form-contacts__policy {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-top: 0;
  }
}

@media screen and (max-width: 620px) {
  .form-contacts {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }

  .form-contacts textarea {
    border-radius: 20px;
  }

  .form-contacts__name {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .form-contacts__phone {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .form-contacts__email {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .form-contacts__submit {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-top: 6px;
  }

  .form-contacts__file-desc {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .form-contacts__file {
    right: 20px;
    bottom: 0;
  }

  .form-contacts__policy {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 540px) {
  .contact-form {
    padding: 20px 0;
  }

  .contact-form__title {
    margin-bottom: 21px;
    padding-top: 8px;
  }
}