.bureau-spoiler {
  padding: 45px 0 114px;
  background-color: #f9f9fa;
}

.bureau-spoiler__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50% - 11px) 22px minmax(-webkit-min-content, 718px);
  -ms-grid-columns: calc(50% - 11px) 22px minmax(min-content, 718px);
  grid-template-columns: calc(50% - 11px) minmax(-webkit-min-content, 718px);
  grid-template-columns: calc(50% - 11px) minmax(min-content, 718px);
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}

.bureau-spoiler__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.bureau-spoiler__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.bureau-spoiler__spoiler {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.bureau-spoiler__img {
  max-width: 100%;
  max-height: 520px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.bureau-spoiler__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.spoiler-bureau {
  border-top: 2px solid #D9D9D9;
  list-style: none;
}

.spoiler-bureau__item {
  position: relative;
  border-bottom: 2px solid #D9D9D9;
  cursor: pointer;
}

.spoiler-bureau__item_active .spoiler-bureau__trigger button::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.spoiler-bureau__item_active .spoiler-bureau__content {
  height: auto;
  margin-top: 23px;
  margin-bottom: 37px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.spoiler-bureau__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 30px 5px 30px 0;
}

.spoiler-bureau__trigger button {
  position: relative;
  min-width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #A9844B;
  background-color: transparent;
  cursor: pointer;
}

.spoiler-bureau__trigger button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1px;
  background-color: #A9844B;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spoiler-bureau__trigger button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16%;
  width: 30px;
  height: 1px;
  background-color: #A9844B;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spoiler-bureau__content {
  height: 0;
  pedding-top: 23px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.spoiler-bureau__content ul {
  list-style: disc;
  padding-left: 23px;
}

.spoiler-bureau__content ul li {
  padding-left: 8px;
}

.spoiler-bureau__content ul li::marker {
  color: #A9844B;
}

.spoiler-bureau__content ul li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 1440px) {
  .bureau-spoiler {
    padding: 36px 0 74px;
  }

  .bureau-spoiler__wrapper {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .bureau-spoiler__spoiler {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .bureau-spoiler__img {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media screen and (max-width: 1200px) {
  .bureau-spoiler__img {
    max-height: 420px;
  }
}

@media screen and (max-width: 992px) {
  .bureau-spoiler {
    padding: 30px 0;
  }

  .bureau-spoiler__img {
    max-height: 288px;
  }

  .spoiler-bureau__trigger {
    padding: 11px 5px 11px 0;
  }

  .spoiler-bureau__trigger button {
    min-width: 32px;
    height: 32px;
  }

  .spoiler-bureau__trigger button::after {
    width: 21px;
  }

  .spoiler-bureau__trigger button::before {
    width: 21px;
    left: 17%;
  }
}

@media screen and (max-width: 768px) {
  .bureau-spoiler__img {
    max-height: 183px;
  }
}

@media screen and (max-width: 540px) {
  .bureau-spoiler {
    padding: 20px 0;
  }

  .bureau-spoiler__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: -webkit-min-content;
    -ms-grid-rows: min-content;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
  }

  .bureau-spoiler__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .bureau-spoiler__spoiler {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .bureau-spoiler__img {
    display: none;
  }

  .spoiler-bureau__trigger button {
    min-width: 26px;
    height: 26px;
  }

  .spoiler-bureau__trigger button::after {
    width: 18px;
  }

  .spoiler-bureau__trigger button::before {
    width: 18px;
    left: 12%;
  }
}