.about-service__title {
  margin-bottom: 64px;
  padding-top: 14px;
  border-top: 1px solid #d7e1e9;
}

.about-service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-min-content, 1fr) 22px minmax(-webkit-min-content, 1fr) 22px minmax(-webkit-min-content, 1fr);
  -ms-grid-columns: minmax(min-content, 1fr) 22px minmax(min-content, 1fr) 22px minmax(min-content, 1fr);
  grid-template-columns: repeat(3, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 22px;
}

.about-service__cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about-service__cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about-service__cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.service-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 300px;
  padding: 34px 39px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  overflow: hidden;
}

.service-card:hover img {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.service-card img {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.service-card__title {
  margin-top: auto;
  color: #ffffff;
}

@media screen and (max-width: 1440px) {
  .about-service__title {
    margin-bottom: 40px;
  }

  .about-service__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }

  .service-card {
    height: 257px;
    padding: 40px 39px;
  }
}

@media screen and (max-width: 992px) {
  .about-service__cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .service-card {
    height: 143px;
    padding: 22px 25px;
  }
}

@media screen and (max-width: 540px) {
  .about-service__title {
    margin-bottom: 29px;
  }

  .about-service__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}